<div style="text-align: center">
	<div class="separator noline about-page"> 
		<img class="hupes-icon" alt="HUPES ICON" src="images/hupes_vert.png">
		<h2>Dieta & Nutrição</h2> 
		<h3 class="version">1.3 - 76d57521389bb1d65b4aff6586868fc7014b6de5</h3> 
		<p>Copyright © 2013 HUPES</p> 
		<p>
			<text rel="label_rights_reserved">Todos os Direitos Reservados</text>
		</p> 
		<p> 
			<a class="toggle-privacy-policy" target="blank">
				<text rel="settings_privacy_policy">Política de Privacidade</text> / <text rel="settings_imprint">Infos</text>
			</a> - 
			<a href="http://www.6wunderkinder.com/terms-of-use" target="blank">
				<text rel="settings_terms_of_use">Termos de Uso</text>
			</a>
		</p> 
	</div>
	<div class="separator about-page"> 
		<h2 class="center">
			<text rel="settings_third_party_libraries">Licenças.</text>
		</h2>
		<div class="acknowledgement">
			<h3 class="title">RequireJS</h3>
			<p class="library-info">Copyright © 2010-2011 The Dojo Foundation<br>License: 
				<a href="https://github.com/jrburke/requirejs/blob/master/LICENSE" target="_blank">BSD, MIT</a>
			</p> 
			<h3 class="title">jQuery</h3> 
			<p class="library-info">Copyright © 2012 jQuery Foundation and other contributors<br>License: 
				<a href="http://jquery.org/license" target="_blank">jquery.org/license</a>
			</p> 
			<h3 class="title">Backbone.js</h3> 
			<p class="library-info">Copyright © 2010-2012 Jeremy Ashkenas, DocumentCloud<br>License: 
				<a href="https://github.com/documentcloud/backbone/blob/master/LICENSE" target="_blank">github.com/documentcloud/backbone</a>
			</p>
			<h3 class="title">Lo-Dash</h3>
			<p class="library-info">Copyright © 2012 John-David Dalton<br>License: 
				<a href="https://github.com/bestiejs/lodash/blob/master/LICENSE.txt" target="_blank">MIT</a>
			</p>
		</div>
	</div>
</div>