<div class="box-header">
	<span class="title">Alimentos</span>
	<ul id="foodsTab" class="nav nav-tabs nav-tabs-right">
		<li class="active"><a href="#foodSolído" data-toggle="tab">Sol.</a>
		</li>
		<li><a href="#foodLiquído" data-toggle="tab">Liq.</a></li>
		<li><a href="#foodEnteral" data-toggle="tab">Ent.</a></li>
	</ul>
</div>
<div id="foods-list" class="box-content padded">
	<div class="nav-menu tab-content scrollable"
		style="height: 200px; overflow-y: auto">
		<ul id="foodSolído" class="nav nav-list tab-pane active"></ul>
		<ul id="foodLiquído" class="nav nav-list tab-pane"></ul>
		<ul id="foodEnteral" class="nav nav-list tab-pane"></ul>
	</div>
	<input id="value" type="number">
</div>