<div class="select2-container select2-container-multi chzn-select" style="width: 100%;">
	<span class="tag">
		<%= model.get('dish').period %>h 
	</span>
	<span class="tag">
		<span><%= model.get('dish').nature.description %>&nbsp;&nbsp;</span>
		<% if(model.get('dish').nature.description !== '+') { %>
			<a title="Removing tag" >
				<i class="icon-remove"></i>
			</a>
		<% } %>
	</span>
</div>
<% _.forEach(model.get('variations'), function(variation) { %>
	<span><%= variation.food.description %></span>
<% }) %>