<div class="box-header">
	<span class="title">Natureza</span>
	<ul id="naturesTab" class="nav nav-tabs nav-tabs-right">
		<li class="active"><a href="#natureSolído" data-toggle="tab">Sol.</a>
		</li>
		<li><a href="#natureLiquído" data-toggle="tab">Liq.</a></li>
		<li><a href="#natureEnteral" data-toggle="tab">Ent.</a></li>
	</ul>
</div>
<div class="box-content padded">
	<div class="nav-menu tab-content scrollable"
		style="height: 157px; overflow-y: auto">
		<ul id="natureSolído" class="nav nav-list tab-pane active"></ul>
		<ul id="natureLiquído" class="nav nav-list tab-pane"></ul>
		<ul id="natureEnteral" class="nav nav-list tab-pane"></ul>
	</div>
</div>