<div class="container-fluid padded">
	<div class="row-fluid">
		<div class="span12">
			<div class="box">
				<div class="box-header">
	        		<span class="title">Nova Visita</span>
	     		 </div>
				<div class="box-content">
					<% var patient = new Patient(model.get('patient')) %>
					<form class="form-horizontal fill-up">
						<div class="padded">
							<div class="control-group">
								<label class="control-label">Paciente</label>
								<div class="controls">
									<input type="text" disabled="disabled" value="<%= patient.get('name') %> (<%= patient.get('handbook') %>)"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Leito</label>
								<div class="controls">
									<input type="text" disabled="disabled" value="<%= model.get('bed') %>"/>
								</div>
							</div>
	
							<div class="control-group">
								<label class="control-label">Peso</label>
								<div class="controls">
									<input type="text" required="required"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Altura</label>
								<div class="controls">
									<input type="text" required="required"/>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>			
		</div>
	</div>
	<div class="row-fluid">
		<div class="span9">
			<div class="box">
				<div class="box-header">
	        		<span class="title">Nova Dieta</span>
	     		</div>
	     		<div class="box-content">
				  <div class="nav-menu">
				  	<ui id="diets" class="nav nav-list"></ui>
				  </div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="box">
				<div class="box-header">
	        		<span class="title">Natureza</span>
	        		<ul id="natureTab" class="nav nav-tabs nav-tabs-right">
			          <li class="active">
			          	<a href="#natureSolído" data-toggle="tab">S</a>
			          </li>
			          <li>
			          	<a href="#natureLiquído" data-toggle="tab">L</a>
			          </li>
			          <li>
			          	<a href="#natureEnteral" data-toggle="tab">E</a>
			          </li>
			    	</ul>
	     		</div>
	     		<div class="box-content padded">
				  <div class="nav-menu tab-content scrollable" style="height: 150px; overflow-y: auto">
				  	<ul id="natureSolído" class="nav nav-list tab-pane active"></ul>
				  	<ul id="natureLiquído" class="nav nav-list tab-pane"></ul>
				  	<ul id="natureEnteral" class="nav nav-list tab-pane"></ul>
				  </div>
				</div>
			</div>
			<div class="box">
				<div class="box-header">
	        		<span class="title">Alimentos</span>
	        		<ul id="natureTab" class="nav nav-tabs nav-tabs-right">
			          <li class="active">
			          	<a href="#foodSolído" data-toggle="tab">S</a>
			          </li>
			          <li>
			          	<a href="#foodLiquído" data-toggle="tab">L</a>
			          </li>
			          <li>
			          	<a href="#foodEnteral" data-toggle="tab">E</a>
			          </li>
			    	</ul>
	     		</div>
	     		<div class="box-content padded">
					<div class="nav-menu tab-content scrollable" style="height: 200px; overflow-y: auto">
						<ul id="foodSolído" class="nav nav-list tab-pane active"></ul>
						<ul id="foodLiquído" class="nav nav-list tab-pane"></ul>
						<ul id="foodEnteral" class="nav nav-list tab-pane"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>