<div class="container-fluid padded">
	<form id="new" action="#" class="form-horizontal fill-up">
		<div id="interment" class="row-fluid">
		</div>
		<div class="row-fluid">
			<div class="span9">
				<div id="meals">
				</div>
				<div id="nutrients" class="row-fluid">
				</div>
			</div>
			<div class="span3">
				<div id="natures" class="box">
				</div>
				<div id="foods" class="box">
				</div>
			</div>
		</div>
		<div class="form-actions">
			<input id="save" type="submit" class="btn btn-blue" style="width: auto" value="Salvar Alterações" />
			<button id="cancel" type="button" class="btn btn-default">Cancelar</button>
	    </div>
	</form>
</div>