<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<beans:bean id="ep403" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>

	<!-- HTTP security configurations -->
    <http use-expressions="true" entry-point-ref="ep403">
    	<form-login />
        <logout />

		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/user" access="isAuthenticated()" />
        <intercept-url pattern="/wards" access="isAuthenticated()" />
        <intercept-url pattern="/wards/*" access="isAuthenticated()" />
        <intercept-url pattern="/interments" access="isAuthenticated()" />
        <intercept-url pattern="/interments/*" access="isAuthenticated()" />
        <!-- Configure these elements to secure URIs in your application -->
    </http>

	<!-- Configure Authentication mechanism -->
    <authentication-manager alias="authenticationManager">
    	<!-- SHA-256 values can be produced using 'echo -n your_desired_password | sha256sum' (using normal *nix environments) -->
    	<authentication-provider>
	    	<password-encoder hash="sha-256"/>
	        <user-service>
	            <user name="admin" password="8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918" authorities="ROLE_ADMIN"/>
		    </user-service>
    	</authentication-provider>
	</authentication-manager>

</beans:beans>