#contem {
    display: -webkit-flex;
    display: flex;
}

#contem section {
    margin-right: 10px;
 
    -webkit-flex: 3;
    flex: 3;
}

#contem aside {
	margin-right:10px;
	white-space: nowrap;
	-webkit-flex: 1;
    flex: 1;
}

#loading {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}