<% var patient = new Patient(interment.get('patient')) %>
<% if(interment.isNulo()) { %>
	<div class="avatar red">
		<i class="icon-warning-sign icon-2x"></i>
	</div>
<% } else if(patient.isNeedAssistance()) { %>
	<div class="avatar yellow">
		<i class="icon-exclamation-sign icon-2x"></i>
	</div>
<% } else { %>
	<div class="avatar green">
		<i class="icon-ok icon-2x"></i>
	</div>
<% } %>
<div class="info">
	<span class="name">
		<a href="#wards/<%= ward.id %>/interments/<%= interment.id %>">
			<strong class="indent"><%= patient.get('name') %> (<%= ward.get('description') %>)</strong>
		</a>
	</span>
	<span class="time">
		<a href="#interments/<%= interment.id %>/diets/new">
			<span class="label label-blue">Add</span>
		</a>
	</span>
</div>
<% if(selected !== undefined && selected.id === interment.id) { %>
	<div class="content">
		<% var diets = new Diets(selected.get('patient').diets) %>
		<% for(var i in diets.models) { %>
			<% var diet = diets.models[i] %>
			<% var meals = new Meals(diet.get('meals')) %>
			<% for(var i in meals.models) { %>
				<% var meal = meals.models[i] %>
				<%= meal.get('period') %>
				<% var dish = new Dish(meal.get('dish')) %>
				<%= dish.period() %>
				
				<% var nature = new Nature(dish.get('nature')) %>
				(<%= nature.get('description') %>)
				|
			<% } %>
		<% } %>
	</div>
<% } %>