<% var patient = interment.patient() %>
<% if(interment.isNulo()) { %>
	<div class="avatar red">
		<i class="icon-warning-sign icon-2x"></i>
	</div>
<% } else if(patient.isNeedAssistance()) { %>
	<div class="avatar yellow">
		<i class="icon-exclamation-sign icon-2x"></i>
	</div>
<% } else { %>
	<div class="avatar green">
		<i class="icon-ok icon-2x"></i>
	</div>
<% } %>
<div class="info">
	<% var ward = interment.ward() %>
	<span class="name">
		<a href="#interments/<%= interment.id %>">
			<strong class="indent"><%= patient.get('name') %> (<%= ward.get('description') %>)</strong>
		</a>
	</span>
	<span class="time">
		<a href="#interments/<%= interment.id %>/diets/new">
			<span class="label label-blue"><i class="icon-plus-sign"></i>Add</span>
		</a>
	</span>
</div>
<% if(selected !== undefined && selected.id === interment.id) { %>
<div class="content">	
	<% var monthNames = [ "Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez" ] %>
	<% var diets = selected.patient().diets() %>
	<% diets.each(function(diet) { %>
		<% var meals = diet.meals() %>
		<% meals.each(function(meal) { %>
			<%= meal.get('period') %>
			<% var dish = new Dish(meal.get('dish')) %>
			<%= dish.period() %>
			
			<% var nature = new Nature(dish.get('nature')) %>
			(<%= nature.get('description') %>)
			
			<% meal.variations().each(function(variation) { %>
				<%= variation.food().get('description') %>,
			<% }) %>
			|
		<% }); %>
		<div class="news-time">
    		<span><%= (new Date(diet.get('createdAt'))).getDate() %></span> <%= monthNames[(new Date(diet.get('createdAt'))).getMonth()] %>
		</div>
	<% }); %>
</div>
<% } %>
