<% var patient = interment.patient() %>
<% if(interment.isCurrent()) { %>
	<div class="avatar red">
		<i class="icon-warning-sign icon-2x"></i>
	</div>
<% } else if(patient.isNeedAssistance()) { %>
	<div class="avatar yellow">
		<i class="icon-exclamation-sign icon-2x"></i>
	</div>
<% } else { %>
	<div class="avatar green">
		<i class="icon-ok icon-2x"></i>
	</div>
<% } %>
<div class="info">
	<% var ward = ward !== undefined ? ward : interment.ward() %>
	<span class="name">
		<a href="<%= root %>/<%= interment.id %>">
			<%= patient.get('name') %> (<%= ward.get('description') %>)
		</a>
	</span>
	<span class="time">
		<a href="#interments/<%= interment.id %>/diets/new">
			<span class="label label-blue"><i class="icon-plus-sign"></i>Add</span>
		</a>
	</span>
</div>
<div class="selected">
</div>